
<html>
<body>
    <div class="main">
        <div class="container">
            <div class="header">
                <img src="https://github.com/The-GPT-Warriors/ASLFrontend/assets/107821010/a767e359-1bb9-4fda-86f6-3e870d85938e" alt="logo" class="logo">
                <h1 class="title">Welcome to The GPT Warriors Backend!!</h1>
            </div>
            <div class="main">
                <h3 class="description1">Team Members - Tay Kim, Anthony Bazhenov, Ethan Tran, Emaad Mir</h3>
        </div>
    </div>
</body>
</html>

